<a href="https://colab.research.google.com/github/Ed00107/sbd1/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%94%D0%97_2_%D0%92%D0%B8%D1%82%D1%80%D0%B8%D0%BD%D0%B0_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание №2. Атрибуция каналов привлечения

Вы работаете аналитиком в интернет-магазине Ascent: [ссылка](http://shop-stdata.tilda.ws/). Вам пришло сообщение от вашего коллеги-аналитика:

![Условие](https://sun9-46.userapi.com/s/v1/if2/v72TY8B5Dya-tYzTT4IvzEmUi52aYDzOWKwzuPjtp2ScQmmduHo4E4TEVuTsWx3ibZgstaWtQIQTgRIb2v93RnZp.jpg?size=1496x820&quality=95&type=album)

Вашей задачей является реализация данной витрины, результат сохраните в файл order_acquisition.csv. Также вам нужно описать логику присвоения каналов, которую вы посчитали релевантной для данной бизнес-задачи. Весь python-код и sql-код нужно занести в этот jupyter-notebook.

### Описание бизнес-логики присвоения каналов
Ответьте на вопрос коллег из маркетинга и business development: по какой логике мы устанавливаем источник трафика для юзера?

In [ ]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.8/dist-packages (2.9.5)

In [ ]:
import psycopg2
import pandas as pd

DB_HOST = 'de-edu-db.chronosavant.ru'
DB_USER = 'da11'
DB_USER_PASSWORD = 'gandalfthegrey'
DB_NAME = 'edu'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

### Реализация

In [ ]:
pd.read_sql_query("""
Select user_id as order_id,x.channel as acquisition_name,count(*)
from da.user_payments as up
Inner join da.user_x_channel as x using(user_id)
group by order_id,acquisition_name
order by order_id

;""",conn)

                     order_id acquisition_name  count
0    6246b7d1dcd39f5d07e1b90d    yandex direct      2
1    6246c300e4f4960bb1162416           vk.com      8
2    6247527ed0254e09de6dc41a    google direct      6
3    6247a85b5814321ec2638915   Organic mobile      2
4    624806e8e8236e53243092ee           vk.com      1
..                        ...              ...    ...
732  6331fa9576edaf464eb383b9           vk.com      1
733  633218f4625ee11195cf23c6    google direct      1
734  633443f1918365178e64de29    google direct      1
735  63349385e56fd43b96f55fbb           vk.com      1
736  6336a08461f7fe528f24eebf    google direct      1

[737 rows x 3 columns]